<div class="center-column">
	<table class="positions">
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
	</table>
</div>
