<div class="center-column">
	<div class="filter-bar">
		<ul class="filter-options">
			<li class="select">
				<select>
					<option>20</option>
					<option>40</option>
					<option>60</option>
				</select>
			</li>
			<li>Показывать по:</li>
			<li>|</li>
			<li><span>Инвертировать</span></li>
			<li>|</li>
			<li><span>Ни одного</span></li>
			<li>|</li>
			<li><span>Все</span></li>
			<li>Выделить:</li>
		</ul>
		<div class="search">
			<input type="text" />
		</div>
	</div>
	<table class="positions">
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
		<tr>
			<td class="checkbox">
				<input type="checkbox" />
			</td>
			<td class="name">
				<span class="org popup-button">НефтеХимМаш</span>
				<a href="#" class="service-name">Поставка скрепок</a>
			</td>
			<td class="price">
				100 000 000.00
			</td>
			<td class="step">
				<select>
					<option>Выставлен счет</option>
					<option>Комерческое предложение</option>
				</select>
			</td>
			<td class="progress">
				<div class="bar">
					<i class="complete"></i>
				</div>
			</td>
		</tr>
	</table>
</div>
