.top-panel{
    background-color:#26a;
    background-image:-moz-linear-gradient(100% 100% 90deg, #37c, #59d);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#59d), to(#37c));
}
.tabs{
    background-color:#26a;
    background-image:-moz-linear-gradient(100% 100% 90deg, #248, #37c);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#37c), to(#248));
}
.tabs div{
    background-color:#6af;
    background-image:-moz-linear-gradient(100% 100% 90deg, #48d, #8cf);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8cf), to(#48d));
}
.tabs div,
.tabs div.right{
    border-color:#268;
}
.tabs div.selected a.inv{
    color:#068;
}
.paging b{
    color:#8e4;
}
a:link,
a:visited{
    color:#046;
}
input[type="text"],
input[type="password"],
select,
textarea,
.fuzzy_result,
.fuzzy_browse,
 .sheet_title,
.progress_bar{
    border-color:#28a;
}
.sheet_title,
.progress_bar,
.item_buttons{
    border-color:#8c6;
}
.fuzzy_browse{
    background-color:#6af;
    background-image:-moz-linear-gradient(100% 100% 90deg, #48d, #8cf);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8cf), to(#48d));
}
.sheet_title{
    color:#fff;
}
.tree a.active,
.fuzzy_result > div:hover,
.fuzzy_result > div.active{
    background-color:#9d7;
}
.sheet_title,
.progress_bar .progress,
.fuzzy_browse{
    background-color:#9d7;
    background-image:-moz-linear-gradient(100% 100% 90deg, #6a4, #bf9);
    background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#bf9), to(#6a4));
}
.quick_info .title{
    background-color:#59e;
    background-image:-moz-linear-gradient(50% 100% 45deg, #48d, #8bf);
    background-image:-webkit-gradient(linear, 100% 0%, 50% 100%, from(#8bf), to(#48d));
}
