<!-- <link rel="stylesheet" type="text/css" href="stylesheets/start_page_style.css" /> -->

<div class="header_back"></div>
<div class="header">
  <!-- <div class="icon">
    <img src="images/mtote_logo.png" />
  </div>  -->
  <div class="image">
  </div>



	 <ul id="nav">
			<li><a	href="#">котомка</a></li>
			<li><a	href="#">проекты</a></li>
			<li><a	href="#">о нас</a></li>
			<li><a	href="#">блог</a></li>
	  </ul>
		<div id="page-wrap">
			<div id="main-content">
				 <p>Мы поможем вам лучше организовать ваш бизнес</p>
				 <p> Не теряй клиентов. Собери все контакты и историю взаимоотношений с ними в одном месте</p>
				<p>Не сгорай на работе. Запиши все свои дела и задачи в простой и понятой форме. 
					Не держи ничего в голове. Всегда можно напомнить мебе чего еще нужно сделать сегодня.</p>
			    <p>
			      Доступ к рабочей информации для всех членов вашей команды.
			      Дела, контакты, документы, обсуждения - все в одном месте,
			      доступном в любое время из любой точки мира.</p>
			   <p> Доступно безопасно надежно актуально просто </p>
					
					<div id="button_wrapper">
				    <a href="#" id="button">
				     Принять участие в закрытом бета-тестировании
				      <!-- <div id="sub">бесплатная регистрация, займет не более 30 секунд</div> -->
				    </a>
					</div>
			</div> <!-- end main-content -->
		</div> <!-- end page-warp -->

  	
			<div id="footer">
					<p>&copy; 2011 Могучая котомка. Все схвачено!</p>
			</div>


  </div>
</div>