<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= t(:default_title) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- <%  stylesheet_link_tag 'start_page_style.css' %> -->
  </head>
  <body>
    <div class="wrapper">
  
      <%= yield %>
    </div>
  </body>
</html>